*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.weather-container{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
}
.weather-status{
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}
.data-container{
    display: flex;
    gap: 30px;
}
.data{
    font-size: 22px;
    position: relative;
}
.status{
    font-size: 14px;
    font-weight: 600;
    color: gray;
    letter-spacing: 1px;
}
.temperature{
    font-size: 64px;
    font-weight: 600;
    position: relative;
}
.degree{
    position: absolute;
    right: -5px;
    top:10px;
}
.axuiliary-data{
    color: gray;
    font-size: 20px;
}
.axuiliary-data span{
    font-size: 22px;
    color: black;
    font-weight: 600;
}
.time-status{
    margin-top: 40px;
    font-size: 12px;
    color: gray;
    font-weight: 600;
}
.hide{
    visibility: hidden;
    opacity: 0;
}
.country-form{
    margin-top:50px;
}
#country-name{
    width: 300px;
    height: 50px;
    background: #fafafa;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
}